.description textarea{
    width: 70%;
    margin-bottom: 1.25rem;
    padding: 0.9rem;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    resize: None;


}
.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;



 }
 .projectName{
     height: 50px;
     width: fit-content;
     font-size: xx-large;

     margin-bottom: 1.25rem;
     padding: 0.9rem;
     border: 2px solid #e2e8f0;
     border-radius: 8px;

     transition: border-color 0.2s ease;
     resize: None;




 }
.submit-button {
    padding: 0.85rem 1.75rem;
    border: 1px solid #e2e8f0 !important;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    font-size: 1rem;
    background: rgba(0, 123, 255, 0) !important;
    color: white;



}
.submit-button:hover {

    background: rgba(0, 157, 255, 0.24) !important;
    transition: border-color 0.2s ease;
    border-color: rgba(0, 0, 0, 0.18) !important;
}
.cancel-button {
    padding: 0.85rem 1.75rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    font-size: 1rem;
    background: #a6a6a6;
    color: white;
}



 .tags{

     height: 30px;
     width: 30%;

 }
 .preview-image{
     width :100%;
     height:100%;
     aspect-ratio: 1 / 1;
     margin: 4px;
     object-fit: fill;






 }
 .cloud{

     height: 50%;
     width: auto;



 }
 .cloud img{

     width: 100%;
     height: 100%;
     object-fit: cover;

 }
 .cloud img:hover{

 }
.upload-card{
    display: flex;
    flex-direction: row;
    width: 90vw; 
    max-width: 600px; 
    height: 50vh; 
    max-height: 400px; 
    justify-content: space-between;
    align-items: center;

    padding: 10px; 
    box-sizing: border-box;
    margin: 0 auto; 
}
.file-count{
    margin-left: 1rem;
    opacity: 50%;

}
.upload-content{



}
.action-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.upload
{
    width: 100%;
    height: 100%;

    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--button-bg);
    border-radius: 25px;
    border-style: dashed;
    border-width: 3px;
    border-color: rgba(100, 149, 237, 0.2);
    opacity: 0.7;
    transition: background-color 0.3s ease, border-color 0.3s ease;

}
.upload:hover{
    opacity: 1;
    transition: opacity 0.3s  ease;

}

.Upload-text{

    margin: 10%;
    margin-top: 0;
    text-align: center;
    opacity: 40%;


}
.upload:hover {
    background-color: var(--button-hover-bg);

}

.upload-btn {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--panel-color);

    border-radius: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.upload-btn:hover {
    background-color: var(--button-hover-bg);

}

.images{
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px; 
    margin-left:10%;
    overflow-y: auto;
    overflow-x:visible;
    padding: 10px;
    box-sizing: border-box; 
    background-color: var(--panel-color); 
}
.description{

    display: flex;
    flex-direction: column;

}
.card{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;


}
.thumbnail {
    position: relative;
    border:none !important;
    padding: 0;
}

.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

